{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
    <title>register</title>
{% endblock title %}

{% block content %}
<div class=row>
    <h2>Register on TaskMate</h2>
    {% if messages %}
        {% for message in  messages%}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>{{message}}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}
    <form method="POST" class='col-6'>
        {% csrf_token %}
        {{ register_form|crispy}}
        <button class='btn btn-primary' type="submit">Register</button>
    </form>
</div>
{% endblock content %}